APP_NAME="mini-RAG"
APP_VERSION="0.1.0"
APP_DESCRIPTION="A mini Retrieval-Augmented Generation (RAG) application using FastAPI and LangChain."
APP_AUTHOR="AbdElrahman Habeeb"
APP_AUTHOR_EMAIL="abdrhmnr1@gmail.com"
OPEN_API_KEY="key"
FILE_ALLOWED_EXTENSIONS=["application/pdf", ".docx", "text/plain"]
FILE_MAX_SIZE=10 * 1024 * 1024  # 10 MB 